/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:visited, a:link, a:active, ul, li {
  text-decoration: none;
  outline: none;
  display: block;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 98vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
header .banner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .banner .banner-content {
  color: #FFFFFF;
}
header .banner .banner-content .title {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
}
header .banner .banner-content h1 {
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
  margin-bottom: 32px;
}
header .banner .banner-content .text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 40px;
}
header .banner .banner-content .icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  text-align: center;
  padding: 56px 0 28px 0;
}
section h2 {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 40px;
}
section img {
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section ul .title {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 4px;
}
section ul .text {
  font-size: 24px;
  line-height: 36px;
  margin-top: 4px;
  margin-bottom: 20px;
  white-space: nowrap;
}
section ul .border {
  height: 1px;
  width: 384px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 28px;
}
section ul .content {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 28px;
}
section ul .content span {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #891818;
  margin-right: 16px;
  vertical-align: middle;
}

.brand {
  color: #FFFFFF;
  text-align: center;
  background-color: #000;
  border: 1px solid #707070;
  padding: 56px 0 120px 0;
}
.brand h2 {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 12px;
}
.brand .title {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 32px;
}
.brand .text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 68px;
}
.brand img {
  margin-bottom: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.brand .brand-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work {
  text-align: center;
  padding: 56px 0 96px 0;
}
.work h2 {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 16px;
}
.work .text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 56px;
}
.work .work-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
.work .work-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 16px;
}
.work .work-img .notes {
  font-size: 20px;
  line-height: 42px;
}

footer {
  color: #FFFFFF;
  background-color: #000;
  text-align: center;
  padding: 64px 0;
}
footer h2 {
  font-size: 64px;
  line-height: 84px;
}
footer li {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 16px;
}
footer li a {
  color: #FFFFFF;
}
footer li a:hover {
  color: #891818;
}
/*# sourceMappingURL=all.css.map */